.container {
  width: 60ch;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-family: Poppins-Bold;
  color: #212121;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-family: Poppins-Semibold;
  margin-bottom: 10px;
  color: #212121;
}

.form input {
  border: rgba(0, 0, 0, 0.4) 3px solid;
  outline: transparent;
  padding: 12px;
  border-radius: 12px;
  transition: outline 0.12s linear;
  font-size: 1.2rem;
  font-family: Poppins-Bold;
  color: #212121;
  background-color: transparent;
}

.form input:focus {
  outline: 4px rgb(245, 152, 75) solid;
  background-color: rgba(255, 255, 255, 0.12);
}

.form button {
  padding: 8px 12px;
  width: max-content;
  background-color: rgb(255, 255, 255);
  color: #212121;
  font-family: Poppins-Semibold;
  border: none;
  outline: transparent;
  margin-top: 20px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.form button:hover {
  filter: brightness(0.9);
}

.form button:active {
  outline: 4px solid rgba(245, 152, 75);
}

.qr_preview {
  width: 100%;
}

.qr_preview img {
  width: 60%;
  margin: 0px auto;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 10px;
  margin-top: 20px;
  font-family: Poppins-Bold;
}

.pipe {
  width: 4px;
  height: 20px;
  background-color: white;
  display: inline-block;
}

.download {
  background-color: #0063fd;
  color: white;
  font-family: Poppins;
  border: none;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.download:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 756px) {
  .container {
    width: 100vw;
    padding: 20px;
  }
  .title img {
    display: none;
  }
  .qr-preview {
    width: 100vw;
  }
}
